* {
  box-sizing: border-box;
}

body,
main {
  font-family: "Montserrat", "DM Sans", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 1920px;
  margin: 0 auto;
}

/* navbar */
.navbar li {
  position: relative;
}

/* Hide the menu */
.navbar-menu-hidden {
  position: relative;
}

/* Ajustar los submenús */
.navbar ul {
  position: absolute;
  top: 100%;
  left: 0;
  background: #000000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 256px;
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 10;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

/* visible menu with cursor */
.navbar li:hover > ul,
.navbar ul:hover {
  display: flex;
  opacity: 1;
  visibility: visible;
  flex-direction: column;
}

/* submenú */
.navbar ul li {
  padding: 8px;
  white-space: nowrap;
}

/* Inteactive area*/
.navbar ul li a {
  display: inline;
  padding: 12px 16px;
  transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}

/* fantasma" */
.navbar li::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 20px;
  background: transparent;
}

/* IMG to the right */
.navbar .dropdown-images {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 16px;
  margin-left: auto;
}

.navbar .wine-images img {
  width: 160px;
  height: auto;
  border-radius: 8px;
}

.navbar .beer-images img {
  width: 120px;
  height: auto;
  border-radius: 8px;
}

/* Login Button Hover Effect */
.login-button {
  position: relative;
  background: white;
  color: black;
  transition: all 0.3s ease-in-out;
}

.login-button:hover {
  background-image: linear-gradient(white, white),
    linear-gradient(135deg, #ac1889, #feda11, #31dfd1);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

/* Sign Up Button Hover Effect */
.signup-button:hover {
  background-color: #0e5883;
  border: 3px solid #8dc0e9;
  color: white;
}

/* Pair BTN effect */
.button {
  padding: 10px 20px;
  background-color: #581448;
  color: #f5f5f5;
  border: none;
  transition: box-shadow 0.3s ease;
}

.button1 {
  box-shadow: 4px 4px 8px rgb(128, 243, 187);
}

.button1:hover {
  box-shadow: 4px 4px 8px rgba(254, 218, 17, 1);
}

.button2 {
  box-shadow: 4px 4px 8px rgb(128, 243, 187);
}

.button2:hover {
  box-shadow: 4px 4px 8px rgba(254, 218, 17, 1);
}

/* Gradient */
.bg-gradient-to-r {
  background-size: 100% 100%;
}

/*Hearts effect */
.heart {
  position: absolute;
  opacity: 0;
  transform: scale(0.8);
  animation: fadeInUp 0.8s ease-in-out forwards;
  z-index: 1;
}

.heart1 {
  width: 90px;
  top: 40px;
  right: 290px;
  animation-delay: 0.5s;
}

.heart2 {
  width: 70px;
  top: 90px;
  right: 295px;
  animation-delay: 1s;
}

.heart3 {
  width: 65px;
  top: 120px;
  right: 280px;
  animation-delay: 1.5s;
}

.hearts-container {
  position: relative;
  z-index: 5;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/* Pair beer effect*/
.custom-shadow {
  box-shadow: 6px 4px 4px 0px #feda11;
  border-radius: 8px;
}

.p-hop,
.h2-q1,
.h2-search {
  font-family: "DM Sans", serif;
  font-weight: bold;
}

.hop-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 32px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  color: whitesmoke;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
}

.hop-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(255, 138, 0, 0.5);
}

.bg-gradient {
  background: linear-gradient(135deg, #06314b, #0e5883);
}

/* Form */

.wine-img {
  width: 60px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.food-img {
  width: 120px;
  height: auto;
  border-radius: 8px;
}
.random-offset:nth-child(odd) {
  transform: translateY(10px);
}
.random-offset:nth-child(even) {
  transform: translateY(-10px);
}

/* effects wine form */
.wine-option {
  display: block;
  padding: 6px;
  border: 2px solid #dabf21;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  transition: all 0.3s ease;
}

.wine-option:hover {
  background-color: #e5e9f1;
}

.wine-option input {
  display: none; /* hide input */
}

.wine-option input:checked + span {
  border-color: #647eba;
  background-color: #eceef3;
  font-weight: 500; /* selected style*/
}

.wine-option input:checked + label {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out; /* scale effect */
}

.wine-option span {
  display: inline-block; /* design to the span */
  padding: 8px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

/* search banner img */
.banner-search {
  box-shadow: 10px 8px 8px 0px #647eba;
  border-radius: 8px;
}

.banner-beer {
  box-shadow: 10px 8px 8px 0px #54471e;
  border-radius: 8px;
}

/* Search API respnse */
.box-shadow {
  box-shadow: 10px 8px 8px 0px #aab0c0;
  border-radius: 8px;
}

/** landing sign up*/
.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slider img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  flex: 0 0 100%;
}
